<div class="landing">
  <div class="landing__intro">
    <div class="landing__intro__container">
      <div class="landing__intro__container-title fsr-100 font-500">
        Product Designer
      </div>
      <div class="landing__intro__container-text fsr-20 font-400">
        I aim to use my incredible craft to bring positive change to the world
        and contribute to a brighter future. By creating intuitive and
        user-friendly designs, I hope to make technology more accessible and
        enjoyable for everyone. Whether it's through designing better healthcare
        solutions,
      </div>
      <div class="landing__intro__container-actions">
        <button mat-raised-button class="btn-blue-225 pd-25 fsr-18">
          Get Started
        </button>
      </div>
    </div>
  </div>
  <div #landingVisual class="landing__visual">
    <div class="landing__visual__wrapper">
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "Believe you can and you are halfway there"
      </div>
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "Success is not final, failure is not fatal: it is the courage to
        continue that counts."
      </div>
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "I have not failed. I've just found 10,000 ways that won't work."
      </div>
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "Don't let yesterday take up too much of today."
      </div>
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "If you want to lift yourself up, lift up someone else."
      </div>
      <div class="landing__visual__wrapper-sticky-card fsr-12 font-400">
        "The only way to do great work is to love what you do."
      </div>
    </div>
  </div>
</div>
