@mixin StickyNoteStyleMixin(
  $cardL,
  $cardT,
  $cardColor,
  $cardRotate,
  $cardBBLR,
  $cardBBRR,
  $cardBTLR,
  $cardBTRR,
  $pinColor,
  $pinT,
  $pinL,
  $foldT,
  $foldL,
  $foldColor,
  $foldRotate
) {
  left: $cardL;
  top: $cardT;
  background-color: $cardColor;
  transform: rotate($cardRotate);
  border-bottom-left-radius: $cardBBLR;
  border-bottom-right-radius: $cardBBRR;
  border-top-left-radius: $cardBTLR;
  border-top-right-radius: $cardBTRR;

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: $pinColor;
    border-radius: 50%;
    top: $pinT;
    left: $pinL;
    border-width: 2px;
    border: 2px solid #ffffff;
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 18px;
    background-color: $foldColor;
    top: $foldL;
    left: $foldL;
    box-shadow: 1px 1px 8px 4px rgb(0 0 0 / 60%);
    border-radius: 2px;
    transform: rotate($foldRotate);
  }
}


.landing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 20px 20px 20px;
  column-gap: 100px;
  height: calc(50vh - 50px);
  &__intro {
    // background-color: red;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    height: 100%;

    &__container {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__visual {
    // background-color: aqua;
    align-self: center;
    height: 100%;
    position: relative;

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;

      &-sticky-card {
        width: 150px;
        height: 150px;

        position: absolute;
        box-shadow: -4px 9px 20px 6px rgb(0 0 0 / 30%);
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        word-wrap: break-word;
        display: flex;
        place-items: center;

        &:nth-child(1) {
          @include StickyNoteStyleMixin(
            0,
            0,
            "#f5f106",
            "30deg",
            0,
            0,
            0,
            0,
            "#058f1c",
            0,
            0,
            0,
            0,
            "#c20909",
            "90deg"
          );
        }
        &:nth-child(2) {
          left: 210px;
          top: 10px;
          background-color: #f506cd;
          transform: rotate(-10deg);
        }
        &:nth-child(3) {
          left: 410px;
          top: 10px;
          background-color: #058f1c;
          transform: rotate(20deg);
        }
        &:nth-child(4) {
          left: 20px;
          top: 190px;
          background-color: #05b8a9;
          transform: rotate(10deg);
        }
        &:nth-child(5) {
          left: 200px;
          top: 180px;
          background-color: #f5f106;
          transform: rotate(-10deg);
        }
        &:nth-child(6) {
          left: 400px;
          top: 210px;
          background-color: #c20909;
          transform: rotate(10deg);
        }
      }
    }
  }
}

